.nav_container {
    padding: .4rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.links {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}
